/* .header {
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #011627;
    color: #F6F7F8;
    padding: 0 20px;
} */



.header {
  position: sticky; /* Sticks to top when scrolling */
  top: 0;          /* Places it at the very top */
  background-color: #011627; /* Example background */
  z-index: 10;     /* Ensure header is above content */
  /* Add padding, styling, etc. as needed */
}