/*
  Colors
    - Night(Black): 
    - Payne's Gray(Blue): #19647E
    - Melon(Pink): #F9B9B7
    - Jasper(Red/Orange): #CD4631
    - Azure(White): #eafbfe

  Colors 2:
   - Rich black: #011627
   - Folly: #FF3366
   - blue: #5386E4
   - white: #F6F7F8
   - blue2: #20A4F3
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.page {
  border-radius: 4px;
  padding: 10px;
  top: 70px;
}